/*================ IMPORT COLORS ================*/
@import "userColors.css";

/*================== MAIN HEADER ==================*/
toolbox#navigator-toolbox {
  border: 0 !important;
}

/*================== TABS BAR ==================*/
#titlebar #TabsToolbar {
  padding: 6px 0px 2px 6px !important;
  background: var(--base_color1) !important;
  visibility: collapse;
}
.titlebar-spacer[type="pre-tabs"] {
  display: none;
}

#tabbrowser-tabs:not([movingtab])
  > .tabbrowser-tab[beforeselected-visible]::after,
#tabbrowser-tabs[movingtab] > .tabbrowser-tab[visuallyselected]::before,
.tabbrowser-tab[visuallyselected]::after {
  opacity: 0 !important;
}
.tab-line {
  height: 0px !important;
}

.tabbrowser-tab {
  margin-right: 5px !important;
}
.tabbrowser-tab:not([visuallyselected="true"]),
.tabbrowser-tab:-moz-lwtheme {
  color: var(--orbit_color) !important;
}

.tabbrowser-tab > .tab-stack > .tab-background {
  border-radius: 3px !important;
}
.tabbrowser-tab > .tab-stack > .tab-background:not([selected="true"]) {
  background-color: var(--base_color2) !important;
}
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]) {
  background-color: var(--base_color3) !important;
}

tab[selected="true"] .tab-content {
  color: var(--outer_color3) !important;
}
tab[selected="true"] .tab-background {
  background: var(--base_color4) !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left: 0 !important;
  opacity: 0 !important;
}

.tab-close-button {
  transition: all 0.3s ease !important;
  border-radius: 3px !important;
}
.tab-close-button:hover {
  fill-opacity: 0.2 !important;
}

/*================== BOOKMARKS TOOLBAR ==================*/
#PersonalToolbar {
  background: var(--base_color1) !important;
  color: var(--orbit_color) !important;
  padding-bottom: 6px !important;
  padding-top: 2px !important;
}
toolbarbutton.bookmark-item {
  transition: all 0.3s ease !important;
  padding: 3px 5px !important;
}
#PlacesToolbar toolbarseparator {
  -moz-appearance: none !important;
  width: 1px;
  margin: 0 8px !important;
  color: var(--orbit_color) !important;
  background-color: var(--base_color1) !important;
}

/*================== CAPTION BUTTONS ==================*/

.titlebar-buttonbox {
  position: relative;
  margin-right: 0px;
  margin-top: -10px !important;
}
.titlebar-button {
  transition: all 0.3s ease !important;
  padding: 8px 10px !important;
  background: none !important;
}
.titlebar-button.titlebar-close {
  padding-right: 26px !important;
}
.titlebar-button > .toolbarbutton-icon {
  transition: all 0.3s ease !important;
  list-style-image: none;
  border-radius: 15px;
  width: 14px !important;
  height: 14px !important;
}

@media (min-resolution: 1.2dppx) and (max-resolution: 1.45dppx) {
  .titlebar-button > .toolbarbutton-icon {
    width: 14px !important;
    height: 14px !important;
  }
}

@media (min-resolution: 1.45dppx) and (max-resolution: 1.7dppx) {
  .titlebar-button > .toolbarbutton-icon {
    width: 14px !important;
    height: 14px !important;
  }
}

@media (min-resolution: 1.7dppx) and (max-resolution: 1.95dppx) {
  .titlebar-button > .toolbarbutton-icon {
    width: 14px !important;
    height: 14px !important;
  }
}

.titlebar-button:hover > .toolbarbutton-icon {
  background: none !important;
}
.titlebar-button.titlebar-min > .toolbarbutton-icon {
  list-style-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-267,-272)"><g id="min_btn"><rect x="269" y="278" width="10" height="2" style="fill:rgb(144,145,146);"/></g></g></svg>');
}
.titlebar-button.titlebar-max > .toolbarbutton-icon {
  list-style-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g><g id="max_btn"><line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_4" y2="3" x2="12" y1="3" x1="2" fill-opacity="null" stroke-opacity="null" stroke-width="2" stroke="rgb(144,145,146)" fill="none"/><line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_5" y2="12" x2="3" y1="2" x1="3" fill-opacity="null" stroke-opacity="null" stroke-width="2" stroke="rgb(144,145,146)" fill="none"/><line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_7" y2="2" x2="11" y1="12" x1="11" fill-opacity="null" stroke-opacity="null" stroke-width="2" stroke="rgb(144,145,146)" fill="none"/><line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_8" y2="11" x2="12" y1="11" x1="2" fill-opacity="null" stroke-opacity="null" stroke-width="2" stroke="rgb(144,145,146)" fill="none"/></g></g></svg>');
}
.titlebar-button.titlebar-restore > .toolbarbutton-icon {
  list-style-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g><g id="max_btn"><line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_4" y2="3" x2="12" y1="3" x1="2" fill-opacity="null" stroke-opacity="null" stroke-width="2" stroke="rgb(144,145,146)" fill="none"/><line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_5" y2="12" x2="3" y1="2" x1="3" fill-opacity="null" stroke-opacity="null" stroke-width="2" stroke="rgb(144,145,146)" fill="none"/><line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_7" y2="2" x2="11" y1="12" x1="11" fill-opacity="null" stroke-opacity="null" stroke-width="2" stroke="rgb(144,145,146)" fill="none"/><line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_8" y2="11" x2="12" y1="11" x1="2" fill-opacity="null" stroke-opacity="null" stroke-width="2" stroke="rgb(144,145,146)" fill="none"/></g></g></svg>');
}
.titlebar-button.titlebar-close > .toolbarbutton-icon {
  list-style-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-632,-255)"><path id="close_btn" d="M638.979,260.586L643.221,256.343L644.635,257.757L640.393,262L644.635,266.243L643.221,267.657L638.979,263.414L634.736,267.657L633.322,266.243L637.564,262L633.322,257.757L634.736,256.343L638.979,260.586Z" style="fill:rgb(144,145,146);"/></g></svg>');
}
.titlebar-button.titlebar-min:hover > .toolbarbutton-icon {
  list-style-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-267,-272)"><g id="min_btn"><rect x="269" y="278" width="10" height="2" style="fill:rgb(235,203,139);"/></g></g></svg>');
}
.titlebar-button.titlebar-max:hover > .toolbarbutton-icon {
  list-style-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g><g id="max_btn"><line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_4" y2="3" x2="12" y1="3" x1="2" fill-opacity="null" stroke-opacity="null" stroke-width="2" stroke="rgb(163,200,140)" fill="none"/><line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_5" y2="12" x2="3" y1="2" x1="3" fill-opacity="null" stroke-opacity="null" stroke-width="2" stroke="rgb(163,200,140)" fill="none"/><line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_7" y2="2" x2="11" y1="12" x1="11" fill-opacity="null" stroke-opacity="null" stroke-width="2" stroke="rgb(163,200,140)" fill="none"/><line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_8" y2="11" x2="12" y1="11" x1="2" fill-opacity="null" stroke-opacity="null" stroke-width="2" stroke="rgb(163,200,140)" fill="none"/></g></g></svg>');
}
.titlebar-button.titlebar-restore:hover > .toolbarbutton-icon {
  list-style-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g><g id="max_btn"><line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_4" y2="3" x2="12" y1="3" x1="2" fill-opacity="null" stroke-opacity="null" stroke-width="2" stroke="rgb(163,200,140)" fill="none"/><line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_5" y2="12" x2="3" y1="2" x1="3" fill-opacity="null" stroke-opacity="null" stroke-width="2" stroke="rgb(163,200,140)" fill="none"/><line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_7" y2="2" x2="11" y1="12" x1="11" fill-opacity="null" stroke-opacity="null" stroke-width="2" stroke="rgb(163,200,140)" fill="none"/><line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_8" y2="11" x2="12" y1="11" x1="2" fill-opacity="null" stroke-opacity="null" stroke-width="2" stroke="rgb(163,200,140)" fill="none"/></g></g></svg>');
}
.titlebar-button.titlebar-close:hover > .toolbarbutton-icon {
  list-style-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-632,-255)"><path id="close_btn" d="M638.979,260.586L643.221,256.343L644.635,257.757L640.393,262L644.635,266.243L643.221,267.657L638.979,263.414L634.736,267.657L633.322,266.243L637.564,262L633.322,257.757L634.736,256.343L638.979,260.586Z" style="fill:rgb(191,97,106);"/></g></svg>');
}

/*================== NEW TAB BUTTON ==================*/
toolbar
  #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(:active)
  > .toolbarbutton-icon,
toolbar
  #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :hover:active)
  > .toolbarbutton-icon,
toolbar
  #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :active)
  > .toolbarbutton-icon {
  transition: all 0.3s ease !important;
  fill: var(--orbit_color) !important;
  border-radius: 3px !important;
  background-color: var(--base_color1) !important;
}

toolbar
  #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(:active):hover
  > .toolbarbutton-icon {
  background-color: var(--base_color3) !important;
}

/*================== NAV BAR ==================*/
toolbar#nav-bar {
  background: var(--base_color1) !important;
  box-shadow: none !important;
  padding-bottom: 3px !important;
  --toolbarbutton-icon-fill-attention: var(--outer_color3);
}

toolbar#nav-bar toolbarbutton .toolbarbutton-icon,
toolbar#nav-bar toolbarbutton #fxa-avatar-image {
  transition: all 0.3s ease !important;
  fill: var(--orbit_color) !important;
}

#urlbar.megabar > #urlbar-background {
  border-radius: 3px !important;
  border: 0px !important;
  background: var(--base_color2) !important;
}

#urlbar.megabar:not([focused="true"]) > #urlbar-background,
#urlbar.megabar > #urlbar-input-container {
  border-radius: 3px !important;
  color: var(--orbit_color) !important;
}

#PersonalToolbar
  .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover,
.tabbrowser-arrowscrollbox:not([scrolledtostart="true"])::part(scrollbutton-up):hover,
.tabbrowser-arrowscrollbox:not([scrolledtoend="true"])::part(scrollbutton-down):hover,
.findbar-button:not(:-moz-any([checked="true"], [disabled="true"])):hover,
toolbarbutton.bookmark-item:not(.subviewbutton):hover:not([disabled="true"]):not([open]),
toolbar
  .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover
  > .toolbarbutton-icon,
toolbar
  .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover
  > .toolbarbutton-text,
toolbar
  .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover
  > .toolbarbutton-badge-stack {
  background: var(--base_color2) !important;
}

#PersonalToolbar
  .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :hover:active),
.findbar-button:not([disabled="true"]):-moz-any([checked="true"], :hover:active),
toolbarbutton.bookmark-item:not(.subviewbutton):hover:active:not([disabled="true"]),
toolbarbutton.bookmark-item[open="true"],
toolbar
  .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :hover:active)
  > .toolbarbutton-icon,
toolbar
  .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :hover:active)
  > .toolbarbutton-text,
toolbar
  .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :hover:active)
  > .toolbarbutton-badge-stack {
  background: var(--base_color3) !important;
}

:root:not([uidensity="compact"]) #back-button > .toolbarbutton-icon {
  background-color: transparent !important;
}

#urlbar {
  color: var(--orbit_color) !important;
}

.urlbarView-url {
  color: var(--outer_color1) !important;
}

.urlbar-input-container {
  background: var(--base_color2) !important;
}

.urlbarView-body-inner {
  border-top: 1px solid var(--base_color3) !important;
}

#urlbar[breakout][breakout-extend] {
  top: 0px !important;
}

#urlbar:not([focused="true"]) > #urlbar-background,
#navigator-toolbox #searchbar:not([focus-within]) {
  background: var(--base_color2) !important;
  border-color: var(--base_color2) !important;
  border-width: 0 !important;
  border-radius: 10px !important;
}

#urlbar[focused="true"] > #urlbar-background,
#navigator-toolbox #searchbar[focus-within] {
  background: var(--base_color2) !important;
  border-color: var(--base_color2) !important;
  border-width: 0 !important;
  border-radius: 3px !important;
}

#star-button[starred] {
  fill: var(--outer_color1) !important;
}
#star-button[starred][animate]
  + #star-button-animatable-box
  > #star-button-animatable-image {
  stroke: var(--outer_color1) !important;
  fill: var(--outer_color1) !important;
}

#downloads-button[attention="success"]
  > .toolbarbutton-badge-stack
  > #downloads-indicator-anchor
  > #downloads-indicator-icon,
#downloads-button[attention="success"]
  > .toolbarbutton-badge-stack
  > #downloads-indicator-anchor
  > #downloads-indicator-progress-outer {
  fill: var(--outer_color1) !important;
}

#library-animatable-box[animate] > .toolbarbutton-animatable-image {
  fill: var(--outer_color1) !important;
}

#reader-mode-button[readeractive] {
  fill: var(--outer_color1) !important;
}

/*================== hide NAV BAR buttons ==================*/

#nav-bar:not([customizing="true"])
  > #nav-bar-customization-target
  > #urlbar-container:not(:hover)
  > #urlbar:not([focused])
  > #urlbar-input-container
  > #page-action-buttons {
  opacity: 0;
}
#page-action-buttons {
  transition: opacity 0.15s ease;
}
#nav-bar:not([customizing="true"])
  > #nav-bar-customization-target
  > #urlbar-container:not(:hover)
  > #urlbar:not([focused])
  > #urlbar-input-container
  > #identity-box {
  opacity: 0;
  /*visibility: collapse;*/
}
#identity-box {
  /*transition: visibility 0.30s ease-in-out, opacity 0.30s ease-in-out;*/
  transition: opacity 0.15s ease;
}
#nav-bar:not([customizing="true"])
  > #nav-bar-customization-target
  > #urlbar-container:not(:hover)
  > #urlbar:not([focused])
  > #urlbar-input-container
  > #tracking-protection-icon-container {
  opacity: 0;
}
#tracking-protection-icon-container {
  transition: opacity 0.15s ease;
}

/*================== URL BAR ==================*/
#urlbar .urlbar-input-box {
  text-align: center !important;
}

/* right click on urlbar context align */
#urlbar .textbox-contextmenu  {
  text-align: left !important;
}

#urlbar[breakout][breakout-extend] {
  top: 5px !important;
  left: 0px !important;
  width: 100% !important;
  padding: 0px !important;
}
/* for alternate Density settings */
[uidensity="compact"] #urlbar[breakout][breakout-extend] {
  top: 3px !important;
}
[uidensity="touch"] #urlbar[breakout][breakout-extend] {
  top: 4px !important;
}
/* Prevent shift of URL bar contents */

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding: 0 !important;
}

/* Do not animate */

#urlbar[breakout][breakout-extend] > #urlbar-background {
  animation: none !important;
}

/* Remove shadows */

#urlbar[breakout][breakout-extend] > #urlbar-background {
  box-shadow: none !important;
}

/*================== SIDEBAR ==================*/
#sidebar-box,
.sidebar-panel[lwt-sidebar-brighttext] {
  background-color: var(--base_color1) !important;
}


/* The default sidebar width. */
/* #sidebar-box { */
/*   overflow: hidden!important; */
/*   position: relative!important; */
/*   transition: all 300ms!important; */
/*   min-width: 60px !important; */
/*   max-width: 60px !important; */
/* } */

/* The sidebar width when hovered. */
/* #sidebar-box #sidebar,#sidebar-box:hover { */
/*   transition: all 300ms!important; */
/*   min-width: 60px !important; */
/*   max-width: 200px !important; */
/* } */


/* only remove TST headers */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none; /* remove sidebar header */
  border-color: var(--base_color2) !important;
}



/*******************/
.sidebar-splitter {
  /* display: none;  remove sidebar split line */
  min-width: 1px !important;
  max-width: 1px !important;
  border-color: var(--base_color2) !important;
}

#sidebar-switcher-bookmarks > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewBookmarksSidebar"]
  > #sidebar-header
  > #sidebar-switcher-target
  > #sidebar-icon,
#sidebar-header,
#sidebar-title {
  color: var(--orbit_color) !important;
}
#sidebar-switcher-target:hover,
#sidebar-switcher-target:hover:active,
#sidebar-switcher-target.active,
#viewButton:hover,
#viewButton[open] {
  background-color: var(--base_color2) !important;
}

.sidebar-placesTreechildren {
  color: var(--orbit_color) !important;
}

#search-box,
.search-box {
  -moz-appearance: none !important;
  background-color: var(--base_color2) !important;
  border-radius: 3px !important;
  color: var(--orbit_color) !important;
}

.content-container {
  background-color: var(--base_color1) !important;
  color: var(--orbit_color) !important;
}

#viewButton {
  color: var(--orbit_color) !important;
}

/*========== CUSTOMIZATION PAGE ===========*/
#customization-container {
  --toolbar-bgcolor: var(--base_color1) !important;
}
#customization-done-button {
  background-color: var(--outer_color1) !important;
  border-color: var(--orbit_color) !important;
  color: var(--outer_color3);
}

#customization-done-button:hover {
  background-color: var(--outer_color1) !important;
  border-color: var(--outer_color2) !important;
  color: var(--outer_color3);
}

/*============== HAMBURGER =============*/

.panel-arrow {
  fill: var(--base_color1) !important;
}

.panel-subview-body {
  color: var(--outer_color3) !important;
  background: var(--base_color1) !important;
  border-color: var(--outer_color3) !important;
}

.appMenu-zoomReset-button {
  color: var(--outer_color1) !important;
  fill: var(--outer_color1) !important;
  border-color: var(--outer_color1) !important;
  border-radius: 3px !important;
  background-color: var(--base_color1) !important;
}

.subviewbutton.panel-subview-footer {
  background-color: var(--base_color1) !important;
  border-top: 0px solid !important;
}

.panel-header {
  border-bottom: 1px solid var(--base_color3) !important;
  background: var(--base_color1) !important;
}

.panel-subview-footer,
[class^="PanelUI-"] {
  color: var(--outer_color2) !important;
  background: var(--base_color1) !important;
}

.subviewbutton.panel-subview-footer {
  background-color: var(--base_color1) !important;
  border-top: 1px solid var(--base_color3) !important;
}

.appMenu-tp-separator,
toolbarseparator {
  display: visible !important;
  border-color: var(--base_color3) !important;
}

.subviewbutton[shortcut]::after {
  color: var(--orbit_color) !important;
}

.subviewbutton-nav::after {
  fill: var(--outer_color3) !important;
}

#appMenu-zoomReduce-button {
  background: transparent !important;
  color: var(--outer_color3) !important;
  border: 0px solid var(--outer_color3) !important;
  border-radius: 0px !important;
}

#appMenu-zoomReset-button label {
  background: transparent !important;
  color: var(--outer_color3) !important;
  border-radius: 0px !important;
}

#appMenu-zoomReset-button {
  background: transparent !important;
  color: var(--orbit_color) !important;
  border: 1px solid var(--outer_color3) !important;
  border-radius: 0px !important;
}

#appMenu-fullscreen-button {
  background: transparent !important;
  color: var(--outer_color3) !important;
  border: 0px solid var(--orbit_color) !important;
  border-radius: 0px !important;
}

#appMenu-zoomEnlarge-button {
  background: transparent !important;
  color: var(--outer_color3) !important;
  border: 0px solid var(--orbit_color) !important;
  border-radius: 0px !important;
}

/*============== STATUS LABEL ================*/

#statuspanel-label {
  background-color: var(--base_color1) !important;
  color: var(--outer_color3) !important;
  border-color: var(--base_color3) !important;
}

/*============== RIGHT CLICK ================*/
#backForwardMenu,
#contentAreaContextMenu,
#customizationPaletteItemContextMenu,
#customizationPanelItemContextMenu,
#customization-toolbar-menu,
#downloadsContextMenu,
#new-tab-button-popup,
#pageActionContextMenu,
#PlacesChevronPopup,
#placesContext,
.search-one-offs-context-menu,
#SyncedTabsSidebarContext,
#SyncedTabsSidebarTabsFilterContext,
#tabContextMenu,
#tabs-newtab-button-popup,
#textbox-contextmenu,
.textbox-contextmenu,
#toolbar-context-menu,
#toolbox-menu,
#widget-overflow > #customizationPanelItemContextMenu,
#back-button > menupopup,
#backForwardMenu menupopup,
#contentAreaContextMenu menupopup,
#customizationPaletteItemContextMenu menupopup,
#customizationPanelItemContextMenu menupopup,
#customization-toolbar-menu menupopup,
#downloadsContextMenu menupopup,
#forward-button > menupopup,
#main-menubar menupopup,
#new-tab-button-popup menupopup,
#pageActionContextMenu menupopup,
#PlacesChevronPopup menupopup,
#placesContext menupopup,
#PlacesToolbarItems .bookmark-item menupopup,
.search-one-offs-context-menu menupopup,
#SyncedTabsSidebarContext menupopup,
#tabContextMenu menupopup,
#textbox-contextmenu menupopup,
.textbox-contextmenu menupopup,
#toolbar-context-menu menupopup,
#toolbox-menu menupopup,
#viewButton > menupopup,
#widget-overflow > #customizationPanelItemContextMenu menupopup,
#back-button > menupopup menupopup,
#forward-button > menupopup menupopup,
#viewButton > menupopup menupopup {
  -moz-appearance: none !important;
  background-color: var(--base_color1) !important;
  border: 0px solid var(--base_color2) !important;
  border-radius: 3px !important;
  padding: 0px 0px 0px 0px !important;
  margin: 0px 0px 0px 0px !important;
  min-width: 226px !important;
}

#back-button > menupopup :-moz-any(menuitem, menu),
#backForwardMenu :-moz-any(menuitem, menu),
#contentAreaContextMenu :-moz-any(menuitem, menu),
#customizationPaletteItemContextMenu :-moz-any(menuitem, menu),
#customizationPanelItemContextMenu :-moz-any(menuitem, menu),
#customization-toolbar-menu :-moz-any(menuitem, menu),
#downloadsContextMenu :-moz-any(menuitem, menu),
#forward-button > menupopup :-moz-any(menuitem, menu),
#main-menubar menupopup :-moz-any(menuitem, menu),
#new-tab-button-popup :-moz-any(menuitem, menu),
#pageActionContextMenu :-moz-any(menuitem, menu),
#PlacesChevronPopup :-moz-any(menuitem, menu),
#placesContext :-moz-any(menuitem, menu),
#PlacesToolbarItems .bookmark-item menupopup :-moz-any(menuitem, menu),
.search-one-offs-context-menu :-moz-any(menuitem, menu),
#SyncedTabsSidebarContext :-moz-any(menuitem, menu),
#tabContextMenu :-moz-any(menuitem, menu),
#tabs-newtab-button-popup :-moz-any(menuitem, menu),
.textbox-contextmenu :-moz-any(menuitem, menu),
#toolbar-context-menu :-moz-any(menuitem, menu),
#toolbox-menu :-moz-any(menuitem, menu),
.urlbar-input-box .textbox-contextmenu :-moz-any(menuitem, menu),
#viewButton > menupopup :-moz-any(menuitem, menu),
#widget-overflow #customizationPanelItemContextMenu :-moz-any(menuitem, menu) {
  -moz-appearance: none !important;
  color: var(--orbit_color) !important;
  padding: 0px 0px 0px 0px !important;
  min-height: 24px !important; /* context menu minial height */
}

#back-button > menupopup menugroup,
#backForwardMenu menugroup,
#contentAreaContextMenu menugroup,
#customizationPaletteItemContextMenu menugroup,
#customizationPanelItemContextMenu menugroup,
#customization-toolbar-menu menugroup,
#downloadsContextMenu menugroup,
#forward-button > menupopup menugroup,
#main-menubar menupopup menugroup,
#new-tab-button-popup menugroup,
#pageActionContextMenu menugroup,
#PlacesChevronPopup menugroup,
#placesContext menugroup,
#PlacesToolbarItems .bookmark-item menupopup menugroup,
.search-one-offs-context-menu menugroup,
#SyncedTabsSidebarContext menugroup,
#tabContextMenu menugroup,
#tabs-newtab-button-popup menugroup,
.textbox-contextmenu menugroup,
#toolbar-context-menu menugroup,
#toolbox-menu menugroup,
.urlbar-input-box .textbox-contextmenu menugroup,
#viewButton > menupopup menugroup,
#widget-overflow #customizationPanelItemContextMenu menugroup {
  padding: 0px !important;
  background-color: transparent !important;
}

#back-button > menupopup menuseparator,
#backForwardMenu menuseparator,
#contentAreaContextMenu menuseparator,
#customizationPaletteItemContextMenu menuseparator,
#customizationPanelItemContextMenu menuseparator,
#customization-toolbar-menu menuseparator,
#downloadsContextMenu menuseparator,
#forward-button > menupopup menuseparator,
#main-menubar menupopup menuseparator,
#new-tab-button-popup menuseparator,
#pageActionContextMenu menuseparator,
#PlacesChevronPopup menuseparator,
#placesContext menuseparator,
#PlacesToolbarItems .bookmark-item menupopup menuseparator,
.search-one-offs-context-menu menuseparator,
#SyncedTabsSidebarContext menuseparator,
#tabContextMenu menuseparator,
#tabs-newtab-button-popup menuseparator,
.textbox-contextmenu menuseparator,
#toolbar-context-menu menuseparator,
#toolbox-menu menuseparator,
.urlbar-input-box .textbox-contextmenu menuseparator,
#viewButton > menupopup menuseparator,
#widget-overflow > #customizationPanelItemContextMenu menuseparator {
  -moz-appearance: none !important;
  margin: 3px 8px 3px 8px !important;
  padding: 0 !important;
  border-top: 1px solid var(--base_color4) !important;
  border-radius: 3px !important;
  border-bottom: none !important;
}

/* Checkbox and Radio Items */

#back-button menuitem[type="checkbox"],
#back-button > menupopup menuitem[type="checkbox"],
#backForwardMenu menuitem[type="checkbox"],
#contentAreaContextMenu menuitem[type="checkbox"],
#customizationPaletteItemContextMenu menuitem[type="checkbox"],
#customizationPanelItemContextMenu menuitem[type="checkbox"],
#customization-toolbar-menu menuitem[type="checkbox"],
#downloadsContextMenu menuitem[type="checkbox"],
#forward-button menuitem[type="checkbox"],
#forward-button > menupopup menuitem[type="checkbox"],
#main-menubar menupopup menuitem[type="checkbox"],
#new-tab-button-popup menuitem[type="checkbox"],
#pageActionContextMenu menuitem[type="checkbox"],
#PlacesChevronPopup menuitem[type="checkbox"],
#placesContext menuitem[type="checkbox"],
#PlacesToolbarItems .bookmark-item menupopup menuitem[type="checkbox"],
.search-one-offs-context-menu menuitem[type="checkbox"],
#SyncedTabsSidebarContext menuitem[type="checkbox"],
#tabContextMenu menuitem[type="checkbox"],
#tabs-newtab-button-popup menuitem[type="checkbox"],
.textbox-contextmenu menuitem[type="checkbox"],
#toolbar-context-menu menuitem[type="checkbox"],
#toolbox-menu menuitem[type="checkbox"],
.urlbar-input-box .textbox-contextmenu menuitem[type="checkbox"],
#viewButton > menupopup menuitem[type="checkbox"],
#widget-overflow
  > #customizationPanelItemContextMenu
  menuitem[type="checkbox"] {
  -moz-appearance: none !important;
}

#back-button menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#back-button
  > menupopup
  menuitem[checked="true"][type="checkbox"]
  > .menu-iconic-left,
#backForwardMenu menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#contentAreaContextMenu
  menuitem[checked="true"][type="checkbox"]
  > .menu-iconic-left,
#customizationPaletteItemContextMenu
  menuitem[checked="true"][type="checkbox"]
  > .menu-iconic-left,
#customizationPanelItemContextMenu
  menuitem[checked="true"][type="checkbox"]
  > .menu-iconic-left,
#customization-toolbar-menu
  menuitem[checked="true"][type="checkbox"]
  > .menu-iconic-left,
#downloadsContextMenu
  menuitem[checked="true"][type="checkbox"]
  > .menu-iconic-left,
#forward-button menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#forward-button
  > menupopup
  menuitem[checked="true"][type="checkbox"]
  > .menu-iconic-left,
#main-menubar
  menupopup
  menuitem[checked="true"][type="checkbox"]
  > .menu-iconic-left,
#new-tab-button-popup
  menuitem[checked="true"][type="checkbox"]
  > .menu-iconic-left,
#pageActionContextMenu
  menuitem[checked="true"][type="checkbox"]
  > .menu-iconic-left,
#PlacesChevronPopup
  menuitem[checked="true"][type="checkbox"]
  > .menu-iconic-left,
#placesContext menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#PlacesToolbarItems
  .bookmark-item
  menupopup
  menuitem[checked="true"][type="checkbox"]
  > .menu-iconic-left,
.search-one-offs-context-menu
  menuitem[checked="true"][type="checkbox"]
  > .menu-iconic-left,
#SyncedTabsSidebarContext
  menuitem[checked="true"][type="checkbox"]
  > .menu-iconic-left,
#tabContextMenu menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#tabs-newtab-button-popup
  menuitem[checked="true"][type="checkbox"]
  > .menu-iconic-left,
.textbox-contextmenu
  menuitem[checked="true"][type="checkbox"]
  > .menu-iconic-left,
#toolbar-context-menu
  menuitem[checked="true"][type="checkbox"]
  > .menu-iconic-left,
#toolbox-menu menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
.urlbar-input-box
  .textbox-contextmenu
  menuitem[checked="true"][type="checkbox"]
  > .menu-iconic-left,
#viewButton
  > menupopup
  menuitem[checked="true"][type="checkbox"]
  > .menu-iconic-left,
#widget-overflow
  > #customizationPanelItemContextMenu
  menuitem[checked="true"][type="checkbox"]
  > .menu-iconic-left {
  -moz-appearance: none !important;
  /* padding: 7px 0px 0px 0px !important; */
  margin-inline: 0px !important; /* icon align */
  /* margin-right: -7px !important; */
  border: solid var(--orbit_color);
  border-width: 0px 0px 2px 2px;
  border-radius: 3px !important;
  transform: rotate(-45deg) scale(0.75);
}

/* align for context menu icon */
menupopup .menu-iconic-icon {
  margin-inline: 6px !important;
}

#back-button menuitem[type="radio"],
#back-button > menupopup menuitem[type="radio"],
#backForwardMenu menuitem[type="radio"],
#contentAreaContextMenu menuitem[type="radio"],
#customizationPaletteItemContextMenu menuitem[type="radio"],
#customizationPanelItemContextMenu menuitem[type="radio"],
#customization-toolbar-menu menuitem[type="radio"],
#downloadsContextMenu menuitem[type="radio"],
#forward-button menuitem[type="radio"],
#forward-button > menupopup menuitem[type="radio"],
#main-menubar menupopup menuitem[type="radio"],
#new-tab-button-popup menuitem[type="radio"],
#pageActionContextMenu menuitem[type="radio"],
#PlacesChevronPopup menuitem[type="radio"],
#placesContext menuitem[type="radio"],
#PlacesToolbarItems .bookmark-item menupopup menuitem[type="radio"],
.search-one-offs-context-menu menuitem[type="radio"],
#SyncedTabsSidebarContext menuitem[type="radio"],
#tabContextMenu menuitem[type="radio"],
#tabs-newtab-button-popup menuitem[type="radio"],
.textbox-contextmenu menuitem[type="radio"],
#toolbar-context-menu menuitem[type="radio"],
#toolbox-menu menuitem[type="radio"],
.urlbar-input-box .textbox-contextmenu menuitem[type="radio"],
#viewButton > menupopup menuitem[type="radio"],
#widget-overflow > #customizationPanelItemContextMenu menuitem[type="radio"] {
  -moz-appearance: none !important;
}

#back-button menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#back-button
  > menupopup
  menuitem[checked="true"][type="radio"]
  > .menu-iconic-left,
#backForwardMenu menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#contentAreaContextMenu
  menuitem[checked="true"][type="radio"]
  > .menu-iconic-left,
#customizationPaletteItemContextMenu
  menuitem[checked="true"][type="radio"]
  > .menu-iconic-left,
#customizationPanelItemContextMenu
  menuitem[checked="true"][type="radio"]
  > .menu-iconic-left,
#customization-toolbar-menu
  menuitem[checked="true"][type="radio"]
  > .menu-iconic-left,
#downloadsContextMenu
  menuitem[checked="true"][type="radio"]
  > .menu-iconic-left,
#forward-button menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#forward-button
  > menupopup
  menuitem[checked="true"][type="radio"]
  > .menu-iconic-left,
#main-menubar
  menupopup
  menuitem[checked="true"][type="radio"]
  > .menu-iconic-left,
#new-tab-button-popup
  menuitem[checked="true"][type="radio"]
  > .menu-iconic-left,
#pageActionContextMenu
  menuitem[checked="true"][type="radio"]
  > .menu-iconic-left,
#PlacesChevronPopup menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#placesContext menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#PlacesToolbarItems
  .bookmark-item
  menupopup
  menuitem[checked="true"][type="radio"]
  > .menu-iconic-left,
.search-one-offs-context-menu
  menuitem[checked="true"][type="radio"]
  > .menu-iconic-left,
#SyncedTabsSidebarContext
  menuitem[checked="true"][type="radio"]
  > .menu-iconic-left,
#tabContextMenu menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#tabs-newtab-button-popup
  menuitem[checked="true"][type="radio"]
  > .menu-iconic-left,
.textbox-contextmenu menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#toolbar-context-menu
  menuitem[checked="true"][type="radio"]
  > .menu-iconic-left,
#toolbox-menu menuitem[checked="true"][type="radio"] > .menu-iconic-left,
.urlbar-input-box
  .textbox-contextmenu
  menuitem[checked="true"][type="radio"]
  > .menu-iconic-left,
#viewButton
  > menupopup
  menuitem[checked="true"][type="radio"]
  > .menu-iconic-left,
#widget-overflow
  > #customizationPanelItemContextMenu
  menuitem[checked="true"][type="radio"]
  > .menu-iconic-left {
  -moz-appearance: none !important;
  border: solid var(--orbit_color);
  height: 17px !important;
  border-radius: 100%;
  background: var(--orbit_color);
  margin-left: 7px !important;
  margin-right: -7px !important;
  margin-top: 1px !important;
  padding: 1px !important;
  transform: scale(0.5);
}

#back-button menuitem[type="checkbox"] > .menu-iconic-text,
#back-button > menupopup menuitem[type="checkbox"] > .menu-iconic-text,
#backForwardMenu menuitem[type="checkbox"] > .menu-iconic-text,
#contentAreaContextMenu menuitem[type="checkbox"] > .menu-iconic-text,
#customizationPaletteItemContextMenu
  menuitem[type="checkbox"]
  > .menu-iconic-text,
#customizationPanelItemContextMenu
  menuitem[type="checkbox"]
  > .menu-iconic-text,
#customization-toolbar-menu menuitem[type="checkbox"] > .menu-iconic-text,
#downloadsContextMenu menuitem[type="checkbox"] > .menu-iconic-text,
#forward-button menuitem[type="checkbox"] > .menu-iconic-text,
#forward-button > menupopup menuitem[type="checkbox"] > .menu-iconic-text,
#main-menubar menupopup menuitem[type="checkbox"] > .menu-iconic-text,
#new-tab-button-popup menuitem[type="checkbox"] > .menu-iconic-text,
#pageActionContextMenu menuitem[type="checkbox"] > .menu-iconic-text,
#PlacesChevronPopup menuitem[type="checkbox"] > .menu-iconic-text,
#placesContext menuitem[type="checkbox"] > .menu-iconic-text,
#PlacesToolbarItems
  .bookmark-item
  menupopup
  menuitem[type="checkbox"]
  > .menu-iconic-text,
.search-one-offs-context-menu menuitem[type="checkbox"] > .menu-iconic-text,
#SyncedTabsSidebarContext menuitem[type="checkbox"] > .menu-iconic-text,
#tabContextMenu menuitem[type="checkbox"] > .menu-iconic-text,
#tabs-newtab-button-popup menuitem[type="checkbox"] > .menu-iconic-text,
.textbox-contextmenu menuitem[type="checkbox"] > .menu-iconic-text,
#toolbar-context-menu menuitem[type="checkbox"] > .menu-iconic-text,
#toolbox-menu menuitem[type="checkbox"] > .menu-iconic-text,
.urlbar-input-box
  .textbox-contextmenu
  menuitem[type="checkbox"]
  > .menu-iconic-text,
#viewButton > menupopup menuitem[type="checkbox"] > .menu-iconic-text,
#widget-overflow
  > #customizationPanelItemContextMenu
  menuitem[type="checkbox"]
  > .menu-iconic-text {
  /* margin-left: 15px !important; */
  -moz-appearance: none !important;
}

#back-button menuitem[type="radio"] > .menu-iconic-text,
#back-button > menupopup menuitem[type="radio"] > .menu-iconic-text,
#backForwardMenu menuitem[type="radio"] > .menu-iconic-text,
#contentAreaContextMenu menuitem[type="radio"] > .menu-iconic-text,
#customizationPaletteItemContextMenu menuitem[type="radio"] > .menu-iconic-text,
#customizationPanelItemContextMenu menuitem[type="radio"] > .menu-iconic-text,
#customization-toolbar-menu menuitem[type="radio"] > .menu-iconic-text,
#downloadsContextMenu menuitem[type="radio"] > .menu-iconic-text,
#forward-button menuitem[type="radio"] > .menu-iconic-text,
#forward-button > menupopup menuitem[type="radio"] > .menu-iconic-text,
#main-menubar menupopup menuitem[type="radio"] > .menu-iconic-text,
#new-tab-button-popup menuitem[type="radio"] > .menu-iconic-text,
#pageActionContextMenu menuitem[type="radio"] > .menu-iconic-text,
#PlacesChevronPopup menuitem[type="radio"] > .menu-iconic-text,
#placesContext menuitem[type="radio"] > .menu-iconic-text,
#PlacesToolbarItems
  .bookmark-item
  menupopup
  menuitem[type="radio"]
  > .menu-iconic-text,
.search-one-offs-context-menu menuitem[type="radio"] > .menu-iconic-text,
#SyncedTabsSidebarContext menuitem[type="radio"] > .menu-iconic-text,
#tabContextMenu menuitem[type="radio"] > .menu-iconic-text,
#tabs-newtab-button-popup menuitem[type="radio"] > .menu-iconic-text,
.textbox-contextmenu menuitem[type="radio"] > .menu-iconic-text,
#toolbar-context-menu menuitem[type="radio"] > .menu-iconic-text,
#toolbox-menu menuitem[type="radio"] > .menu-iconic-text,
.urlbar-input-box
  .textbox-contextmenu
  menuitem[type="radio"]
  > .menu-iconic-text,
#viewButton > menupopup menuitem[type="radio"] > .menu-iconic-text,
#widget-overflow
  > #customizationPanelItemContextMenu
  menuitem[type="radio"]
  > .menu-iconic-text {
  padding-left: 13px !important;
  -moz-appearance: none !important;
}

/* Disabled */

#back-button > menupopup :-moz-any(menuitem, menu)[disabled="true"],
#backForwardMenu :-moz-any(menuitem, menu)[disabled="true"],
#contentAreaContextMenu :-moz-any(menuitem, menu)[disabled="true"],
#customizationPaletteItemContextMenu :-moz-any(menuitem, menu)[disabled="true"],
#customizationPanelItemContextMenu :-moz-any(menuitem, menu)[disabled="true"],
#customization-toolbar-menu :-moz-any(menuitem, menu)[disabled="true"],
#downloadsContextMenu :-moz-any(menuitem, menu)[disabled="true"],
#forward-button > menupopup :-moz-any(menuitem, menu)[disabled="true"],
#main-menubar menupopup :-moz-any(menuitem, menu)[disabled="true"],
#new-tab-button-popup :-moz-any(menuitem, menu)[disabled="true"],
#pageActionContextMenu :-moz-any(menuitem, menu)[disabled="true"],
#PlacesChevronPopup :-moz-any(menuitem, menu)[disabled="true"],
#placesContext :-moz-any(menuitem, menu)[disabled="true"],
#PlacesToolbarItems
  .bookmark-item
  menupopup
  :-moz-any(menuitem, menu)[disabled="true"],
.search-one-offs-context-menu :-moz-any(menuitem, menu)[disabled="true"],
#SyncedTabsSidebarContext :-moz-any(menuitem, menu)[disabled="true"],
#tabContextMenu :-moz-any(menuitem, menu)[disabled="true"],
#tabs-newtab-button-popup :-moz-any(menuitem, menu)[disabled="true"],
.textbox-contextmenu :-moz-any(menuitem, menu)[disabled="true"],
#toolbar-context-menu :-moz-any(menuitem, menu)[disabled="true"],
#toolbox-menu :-moz-any(menuitem, menu)[disabled="true"],
.urlbar-input-box
  .textbox-contextmenu
  :-moz-any(menuitem, menu)[disabled="true"],
#viewButton > menupopup :-moz-any(menuitem, menu)[disabled="true"],
#widget-overflow
  #customizationPanelItemContextMenu
  :-moz-any(menuitem, menu)[disabled="true"] {
  -moz-appearance: none !important;
  color: var(--base_color2) !important;
}

#back-button > menupopup :-moz-any(menuitem, menu)[disabled="true"]:hover,
#backForwardMenu :-moz-any(menuitem, menu)[disabled="true"]:hover,
#contentAreaContextMenu :-moz-any(menuitem, menu)[disabled="true"]:hover,
#customizationPaletteItemContextMenu
  :-moz-any(menuitem, menu)[disabled="true"]:hover,
#customizationPanelItemContextMenu
  :-moz-any(menuitem, menu)[disabled="true"]:hover,
#customization-toolbar-menu :-moz-any(menuitem, menu)[disabled="true"]:hover,
#downloadsContextMenu :-moz-any(menuitem, menu)[disabled="true"]:hover,
#forward-button > menupopup :-moz-any(menuitem, menu)[disabled="true"]:hover,
#main-menubar menupopup :-moz-any(menuitem, menu)[disabled="true"]:hover,
#new-tab-button-popup :-moz-any(menuitem, menu)[disabled="true"]:hover,
#pageActionContextMenu :-moz-any(menuitem, menu)[disabled="true"]:hover,
#PlacesChevronPopup :-moz-any(menuitem, menu)[disabled="true"]:hover,
#placesContext :-moz-any(menuitem, menu)[disabled="true"]:hover,
#PlacesToolbarItems
  .bookmark-item
  menupopup
  :-moz-any(menuitem, menu)[disabled="true"]:hover,
.search-one-offs-context-menu :-moz-any(menuitem, menu)[disabled="true"]:hover,
#SyncedTabsSidebarContext :-moz-any(menuitem, menu)[disabled="true"]:hover,
#tabContextMenu :-moz-any(menuitem, menu)[disabled="true"]:hover,
#tabs-newtab-button-popup :-moz-any(menuitem, menu)[disabled="true"]:hover,
.textbox-contextmenu :-moz-any(menuitem, menu)[disabled="true"]:hover,
#toolbar-context-menu :-moz-any(menuitem, menu)[disabled="true"]:hover,
#toolbox-menu :-moz-any(menuitem, menu)[disabled="true"]:hover,
.urlbar-input-box
  .textbox-contextmenu
  :-moz-any(menuitem, menu)[disabled="true"]:hover,
#viewButton > menupopup :-moz-any(menuitem, menu)[disabled="true"]:hover,
#widget-overflow
  #customizationPanelItemContextMenu
  :-moz-any(menuitem, menu)[disabled="true"]:hover {
  -moz-appearance: none !important;
  background-color: transparent !important;
}

/* Hover */

#back-button
  > menupopup
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#backForwardMenu
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#customizationPaletteItemContextMenu
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#customizationPanelItemContextMenu
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#customization-toolbar-menu
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#downloadsContextMenu
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#forward-button
  > menupopup
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#main-menubar
  menupopup
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#new-tab-button-popup
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#contentAreaContextMenu
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#pageActionContextMenu
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#PlacesChevronPopup
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#placesContext
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#PlacesToolbarItems
  .bookmark-item
  menupopup
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
.search-one-offs-context-menu
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#SyncedTabsSidebarContext
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#tabContextMenu
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#tabs-newtab-button-popup
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
.textbox-contextmenu
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#toolbar-context-menu
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#toolbox-menu
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
.urlbar-input-box
  .textbox-contextmenu
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#viewButton
  > menupopup
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#widget-overflow
  #customizationPanelItemContextMenu
  :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]) {
  -moz-appearance: none !important;
  background-color: var(--base_color2) !important;
  border-radius: 1px !important;
}

/* Icons */

#back-button menuitem > .menu-iconic-left,
#back-button > menupopup menuitem > .menu-iconic-left,
#backForwardMenu menuitem > .menu-iconic-left,
#contentAreaContextMenu menuitem > .menu-iconic-left,
#customizationPaletteItemContextMenu menuitem > .menu-iconic-left,
#customizationPanelItemContextMenu menuitem > .menu-iconic-left,
#customization-toolbar-menu menuitem > .menu-iconic-left,
#downloadsContextMenu menuitem > .menu-iconic-left,
#forward-button menuitem > .menu-iconic-left,
#forward-button > menupopup menuitem > .menu-iconic-left,
#main-menubar menupopup .menu-iconic-left,
#new-tab-button-popup menuitem > .menu-iconic-left,
#pageActionContextMenu menuitem > .menu-iconic-left,
#PlacesChevronPopup menuitem > .menu-iconic-left,
#placesContext menuitem > .menu-iconic-left,
#PlacesToolbarItems .bookmark-item menupopup menuitem > .menu-iconic-left,
.search-one-offs-context-menu menuitem > .menu-iconic-left,
#SyncedTabsSidebarContext menuitem > .menu-iconic-left,
#tabContextMenu menuitem > .menu-iconic-left,
#tabs-newtab-button-popup menuitem > .menu-iconic-left,
.textbox-contextmenu menuitem > .menu-iconic-left,
#toolbar-context-menu menuitem > .menu-iconic-left,
#toolbox-menu menuitem > .menu-iconic-left,
.urlbar-input-box .textbox-contextmenu menuitem > .menu-iconic-left,
#viewButton > menupopup menuitem > .menu-iconic-left,
#widget-overflow
  > #customizationPanelItemContextMenu
  menuitem
  > .menu-iconic-left {
  -moz-appearance: none !important;
  padding: 0px 0px 0px 0px !important; /* align icon */
}

#back-button > menupopup .menu-right,
#backForwardMenu .menu-right,
#contentAreaContextMenu .menu-right,
#customizationPaletteItemContextMenu .menu-right,
#customizationPanelItemContextMenu .menu-right,
#customization-toolbar-menu .menu-right,
#downloadsContextMenu .menu-right,
#forward-button > menupopup .menu-right,
#main-menubar menupopup .menu-right,
#new-tab-button-popup .menu-right,
#pageActionContextMenu .menu-right,
#PlacesChevronPopup .menu-right,
#placesContext .menu-right,
#PlacesToolbarItems .bookmark-item menupopup .menu-right,
.search-one-offs-context-menu .menu-right,
#SyncedTabsSidebarContext .menu-right,
#tabContextMenu .menu-right,
#tabs-newtab-button-popup .menu-right,
.textbox-contextmenu .menu-right,
#toolbar-context-menu .menu-right,
#toolbox-menu .menu-right,
.urlbar-input-box .textbox-contextmenu .menu-right,
#viewButton > menupopup .menu-right,
#widget-overflow #customizationPanelItemContextMenu .menu-right {
  -moz-appearance: none !important;
  margin-right: 6px !important;
  padding: 7.5px !important;
  color: var(--orbit_color) !important;
  border: solid var(--orbit_color);
  border-width: 0px 2px 2px 0px;
  transform: rotate(-45deg) scale(0.55);
}

* {
font-family: jetbrains mono nerd font !important;
font-size: 12pt !important;
}
