:root {
  /*Dark*/
  --dark_color1: #2e3440;
  --dark_color2: #3b4252;
  --dark_color3: #434c5e;
  --dark_color4: #5e81ac;

  --word_color1: #b48ead;
  --word_color2: #88c0d0;
  --word_color3: #d8dee9;
}

/*============== ADAPTIVE THEME ================*/
/*Dark*/
@media (prefers-color-scheme: dark) {
  :root {
    --base_color1: var(--dark_color1);
    --base_color2: var(--dark_color2);
    --base_color3: var(--dark_color3);
    --base_color4: var(--dark_color4);

    --outer_color1: var(--word_color1);
    --outer_color2: var(--word_color2);
    --outer_color3: var(--word_color3);

    --orbit_color: var(--light_color3);
  }
}

/*================ DARK THEME ================*/
@media {
  :root[style*="--lwt-accent-color:rgb(12, 12, 13);"] {
    --base_color1: var(--dark_color1);
    --base_color2: var(--dark_color2);
    --base_color3: var(--dark_color3);
    --base_color4: var(--dark_color4);

    --outer_color1: var(--word_color1);
    --outer_color2: var(--word_color2);
    --outer_color3: var(--word_color3);

    --orbit_color: var(--light_color3);
  }
}

/*============== PRIVATE THEME ==============*/
@media {
  :root[privatebrowsingmode="temporary"] {
    --base_color1: #25003e;
    --base_color2: #3c3376;
    --base_color3: #4f499d;
    --base_color4: #625fc4;

    --outer_color1: #e571f0;
    --outer_color2: #d9caf1;
    --outer_color3: #fff5ff;

    --orbit_color: #b39fe3;
  }
}

